body{ 
    /*So the fixed navbar doesn't overlap on the body div*/
    padding-top:50px;
}


.container{
    width:auto;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}


.header {
    text-align:center;
}



.navbar-fixed-top {
    padding-left:15%;
    padding-right:15%;
    background:rgba(30,75,75,0.2);
}

ul.nav-justified li a{
    //background:#000000;
    color:inherit;
    text-decoration:none;
    font-size:18px;
}


.navbar-fixed-top .nav{
    /*background:rgba(30,75,75,0.2);*/
}


h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 3px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h2 span{
    background:#fff;
    padding:0 10px;
    }

.clicky{
    margin-bottom:100px; /*janky solution to fixed-nav covering*/
    height:10px;
    background:#000;
    }

.horispan{
        height:2000px;
    }
 
/*
    .horispan .row{
        position: relative;
        overflow: hidden;
    }

    #eduRow .img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.6;
    }
*/

    /*TODO: Make background transparent*/
    #eduRow{
        margin-top:-100px;
        padding:none;
        background-image: url("../images/Temple-T.png");
        background-size:100% 100%;//auto;
        background-repeat: no-repeat;
        //background-size:cover;
    }
    /*
.edu1{
    background-image: url("../images/TempleT");
    }
    */

/*
    #edu{
        height:1000px;
    }
*/

/*
ul.nav {
    padding:(100px,100px,100px,100px);
}
*/
