/*Future ideas
 * put circular pic
 * make social media buttons appear when you hover over my pic
 * make navbar untransparent on hover
 * put long p tags in separate file then use jquery to load them in 
 */

body{ 
    /*So the fixed navbar doesn't overlap on the body div*/
    padding-top:50px;
}


.container{
    width:auto;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}


.header {
    text-align:center;
}



.navbar-fixed-top {
    padding-left:15%;
    padding-right:15%;
    background:rgba(30,75,75,0.2);
}

ul.nav-justified li a{
    //background:#000000;
    color:inherit;
    text-decoration:none;
    font-size:18px;
}





h2 {
   width: 100%; 
   text-align: center; 
   border-bottom: 3px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h2 span{
    background:#fff;
    padding:0 10px;
    background:rgba(255,255,255,1);
    }

.clicky{
    margin-bottom:100px; /*janky solution to fixed-nav covering*/
    height:10px;
    background:#000;
    }

.container .horispan {
        height:3000px;
        //background-color:blue;
    }
 
/*
    .horispan .row{
        position: relative;
        overflow: hidden;
    }

    #eduRow .img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.6;
    }
*/

    /*TODO: Make background transparent*/
    #eduTron{
        background:linear-gradient(
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.5)
        ) , url("../images/Temple-T.png");
        //background:rgba(255,255,255,0.5);
        //color:rgba(255,255,255,0.5);
        //background-color:white;
        margin-top:-100px;
        padding:none;
        //background-image:  url("../images/Temple-T.png");
        background-size:100% 100%;//auto;
        background-repeat: no-repeat;
        //opacity:.5;
        //opacity:1;
        //background-size:cover;
    }

    .col-lg-12 p{
        //background:rgba(255,255,255,1);
        color:rgba(255,255,255,1);
        font-size:600%;
        padding-top:8%;
        text-align:center;
    }
    .col-lg-3 p{
        //background:rgba(255,255,255,1);
        color:rgba(255,255,255,1);
        color:rgba(0,0,0,1);
        font-size:500%;
        padding-top:8%;
        text-align:center;
    }
    #eduSpace{
        padding-top:50%;
        padding-bottom:10%;
    }
    .col-lg-5{
       padding-left:7%; 
       padding-right:5%; 
    }
    .col-lg-5 span{
        background:rgba(255,255,255,1);
        color:rgba(0,0,0,1);
        color:black;
        //color:red;
    }
    /*
.edu1{
    background-image: url("../images/TempleT");
    }
    */

/*
    #edu{
        height:1000px;
    }
*/

/*
ul.nav {
    padding:(100px,100px,100px,100px);
}
*/
